/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* font family */
body,nav{
    font-family: 'Poppins', sans-serif;
}

/* package */
.package-three{
    border-radius: 20px;
    background-color: rgba(202, 53, 68);;
}



/* media queries */
@media only screen and (max-width: 576px) {
    .carousel-caption h1,p,a{
        font-size: 60%;
    }
}